logging:
  level:
    org.springframework.web: DEBUG
    com.github.binarywang.demo.wxpay: DEBUG
    com.github.binarywang.wxpay: DEBUG

wechat:
  pay:
    appId:
    mchId:
    mchKey:
    subAppId:
    subMchId:
    keyPath: